a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Základné nastavenia pre body a html */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Štýly pre horné menu - taby */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Štýly pre obsah jednotlivých tabov */
.tabcontent {
  color: rgb(75, 75, 75);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

form {
  margin-left: 500px;
  margin-right: 500px;
}
#Domov {
  background-color: rgb(250, 201, 201);
}
#Záľuby {
  background-color: rgb(186, 230, 186);
}
#Rozvrh {
  background-color: rgb(199, 199, 255);
}
#Kontakt {
  background-color: rgb(241, 202, 128);
}
