
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(75, 75, 75);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Domov {background-color: rgb(250, 201, 201);}
#Záľuby {background-color: rgb(186, 230, 186);}
#Rozvrh {background-color: rgb(199, 199, 255);}
#Kontakt {background-color: rgb(241, 202, 128);}

table, th, td {
    border: 1px groove black;
    border-radius: 10px;
    text-align: center;
}

.BIO {
    background-color: rgb(114, 197, 114);
}
.NEJ {
    background-color: rgb(227, 235, 124);
}
.MAT {
    background-color: rgb(143, 150, 255);
}
.DEJ {
    background-color: rgb(253, 182, 88);
}
.LIT {
    background-color: rgb(237, 214, 253);
}
.ANJ {
    background-color: rgb(242, 190, 255);
}
.CHE {
    background-color: rgb(140, 227, 229);
}
.GEO {
    background-color: rgb(179, 117, 93);
}
.SJL {
    background-color: rgb(233, 163, 229);
}
.SEI {
    background-color: rgb(104, 228, 176);
}
.TSV {
    background-color: rgb(255, 150, 101);
}
.FYZ {
    background-color: rgb(214, 185, 103);
}
.OBN {
    background-color: rgb(252, 160, 176);
}
.SEM {
    background-color: rgb(145, 207, 189);
}
.INF {
    background-color: rgb(131, 136, 131);
}
