
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

* {box-sizing: border-box}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(75, 75, 75);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Domov {background-color: rgb(250, 201, 201);}
#Záľuby {background-color: rgb(186, 230, 186);}
#Rozvrh {background-color: rgb(199, 199, 255);}
#Kontakt {background-color: rgb(241, 202, 128);}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    padding: 0px;
    margin: 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
  }

  .card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .card p {
    margin: 10px;
    font-size: 16px;
    color: #444;
  }
